<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="constring" connectionString="Data Source=PC050\SQLEXPRESS;Integrated Security=SSPI;Initial Catalog=TestBars;"
        providerName="System.Data.OleDb" />
  </connectionStrings>
  <appSettings>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.7.2" />
    <httpRuntime targetFramework="4.7.2"/>
  </system.web>
  <system.serviceModel>
    <client>
      <endpoint address="http://localhost:8733/DogService" binding="basicHttpBinding"
        bindingConfiguration="BasicHttpBinding_IDogService1" contract="DogService.IDogService"
        name="BasicHttpBinding_IDogService" />
      <endpoint address="net.tcp://localhost:8734/DogService" binding="netTcpBinding"
        bindingConfiguration="NetTcpBinding_IDogService1" contract="DogService.IDogService"
        name="NetTcpBinding_IDogService">
        <identity>
          <userPrincipalName value="gloginov@citbars.ru" />
        </identity>
      </endpoint>
    </client>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IDogService" />
        <binding name="BasicHttpBinding_IDogService1" />
      </basicHttpBinding>
      <netTcpBinding>
        <binding name="NetTcpBinding_IDogService">
          <security>
            <transport sslProtocols="None" />
          </security>
        </binding>
        <binding name="NetTcpBinding_IDogService1">
          <security>
            <transport sslProtocols="None" />
          </security>
        </binding>
      </netTcpBinding>
    </bindings>
    <behaviors>
      <serviceBehaviors>
        <behavior name="mexBehavior">
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="false" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <services>
      <service name="DogService.DogService" behaviorConfiguration="mexBehavior">
        <endpoint address="DogService" binding="basicHttpBinding" contract="DogService.IDogService"></endpoint>
        <endpoint address="DogService" binding="netTcpBinding" contract="DogService.IDogService"></endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"></endpoint>
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8733/" />
            <add baseAddress="net.tcp://localhost:8734/"/>
          </baseAddresses>
        </host>
      </service>
    </services>
    <protocolMapping>
      <add binding="basicHttpsBinding" scheme="https" />
    </protocolMapping>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true" />
  </system.serviceModel>
</configuration>
